{% extends "base.html" %}
{% block title %}Об авторе проекта
{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Всем привет! Я Миша, студент ЯндексПрактикума, учусь на бэкэнд-разработчика. Учеба кажется мне очень сложной и интересной. До этого момента работал на РЖД 10 лет, энергодиспетчером. Скучно и уныло, очень рад, что выбрался из рутины, осмелился все бросить и начать новую жизнь, которая нравится. Во время учебы приходится преодолевать много трудностей, с которыми справляться помогает моя дружная семья! Когда мне плохо, меня всегда подбодряд и поддержат :). <a href="https://github.com/mbragins1988">Я на GitHub</a>
</p>
{% endblock %} 