{% extends "base.html" %}
{% block title %}Технологии
{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>На курсе Бэкенд-разработчик как мне показалось мы уже прошли очень много сложного, непонятного, но интересного!). Для выполнения проекта (создание сайта с помощью Django) я установил программу Visual Studio Code. Настроил его, установил необходимую версию питона, виртуальную среду. Зарегистрировался на GitHub, через него проверяют мои проекты. Разобрался как коммитить и пушить). На нашем курсе мы используем Slack - специальный мессенджер с крутыми штуками, для общения со студентами, наставниками, куратором. Там мы обсуждаем много интересного, ну и конечно, он очень помогает с решением задач. Ребята всегда быстро и оперативно ответят и помогут. Учеба в целом очень трудная, с ней помогают справится моя уситчивость, целеустремленность и привычка доводить дело до конца.  </p>
  </article>
</div>
{% endblock %} 